@{
    ViewData["Title"] = "About";
}
<div class="my-1 filler"></div>

<h1 class="text-dark justify-content-center text-center">About Us</h1>
<div class="container col-md-10 mt-3 align-middle">
    <div class="row align-items-start pt-3 h-100">
        <div class="col">
            <h4 class="text-center">Mission Statement</h4>
            <p class="mx-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis viverra diam. Nulla tempus magna in tempus consectetur.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam suscipit metus sapien,
                at dictum leo rutrum vitae. Donec efficitur ultricies ex, non ullamcorper eros sodales sit amet. Duis eget nibh ex.
                Mauris luctus erat eu nisl aliquam sagittis. Nunc auctor turpis elit.
            </p>
        </div>
        <div class="col">
            <h4 class="text-center">Our History</h4>
            <p class="mx-4">
                Duis lacinia, sem ac varius interdum, est tellus dignissim leo, id sollicitudin leo erat at diam. Sed tempus enim ac erat gravida condimentum.
                Curabitur vel justo vel nisi elementum porttitor.
                Nam interdum diam ut est venenatis, quis sollicitudin ipsum tempor. Curabitur id nisl ipsum.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas ultrices ex quis enim hendrerit, eget commodo erat elementum.
                Sed ac accumsan nisi. Donec dictum neque a mauris pulvinar lobortis.
            </p>
        </div>
    </div>
</div>


