@{
    ViewData["Title"] = "About";
}
<style>
    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .about{
        
    }
    .footer{

    }
</style>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<body class="about">
<div class="text-center">
    <h1 class="display-4">This is the About Page</h1>
</div>


<div class="row">
    <div class="col-3 container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis viverra diam. Nulla tempus magna in tempus consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam suscipit metus sapien, 
        at dictum leo rutrum vitae. Donec efficitur ultricies ex, non ullamcorper eros sodales sit amet. Duis eget nibh ex. Mauris luctus erat eu nisl aliquam sagittis. Nunc auctor turpis elit.</p>
    </div>
    <div class="col-3 container">
    <p>Duis lacinia, sem ac varius interdum, est tellus dignissim leo, id sollicitudin leo erat at diam. Sed tempus enim ac erat gravida condimentum. Curabitur vel justo vel nisi elementum porttitor.
        Nam interdum diam ut est venenatis, quis sollicitudin ipsum tempor. Curabitur id nisl ipsum.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas ultrices ex quis enim hendrerit, eget commodo erat elementum. Sed ac accumsan nisi. Donec dictum neque a mauris pulvinar lobortis.</p></div>
</div>

</body>

