@{
    ViewData["Title"] = "Contact";
}

<head>
    @*/*Hey it's jacob krause out here working on the contact page got it from a template hope thats ok*/*@
    <title>LinKnight - Contact Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .nav-logo{
            height:auto;
            width:auto;
        }

        
    </style>
</head>
<body>

   

    <div class="jumbotron">
        <div class="container text-center">
            <h1>Contact Us</h1>
            
        </div>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3>Let's meet the team</h3><br>
        <div class="row">
            <div class="col-sm-3">
                <img src="/Resources/placeholder.jpg" class="contact-us-img" style="width:100%" alt="Image">
                <h4>Jacob Krause</h4>
                
            </div>
            <div class="col-sm-3">
                <p>Matthew Lauer</p>
                <img src="/Resources/placeholder.jpg" class="contact-us-img" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>Liz Richardson</p>
                <img src="/Resources/placeholder.jpg" class="contact-us-img" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>Zachary Dorschner </p>
                <img src="/Resources/placeholder.jpg" class="contact-us-img" style="width:100%" alt="Image">
            </div>
        </div>
    </div><br>

    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-3">
                <p>Some text..</p>
                
            </div>
            <div class="col-sm-3">
                <p>Some text..</p>
                            
            </div>
            <div class="col-sm-3">
                <p>Some text..</p>
                
            </div>
            <div class="col-sm-3">
                <p>Some text..</p>
                
            </div>
        </div>
    </div><br><br>

   

</body>