@{
    ViewData["Title"] = "Linknight Room";
}

<!--Should only really need to have this as the _layout shared document already has needed info-->
<div class="container">
    <p>
        <h2>UNDER CONSTRUCTION...also</h2>
    </p>
</div>