@{
    ViewData["Title"] = "Linknight Room";
}

<!--Should only really need to have this as the _layout shared document already has needed info-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
              <div class="container-fluid border-white">
                </div>
            </div>
        </div>
    </div>
</header>