@{
    ViewData["Title"] = "Linknight Room";
}

<!--Should only really need to have this as the _layout shared document already has needed info-->
<header class="bg-dark py-5">
    <section class="bg-light mt-2 py-4 container">
        <div class="row gx-5 justify-content-center">
                <video class="container-fluid" controls>
                </video>
               <div class="d-grid py-1"><a class="btn btn-outline-primary" href="#!">Option 1</a></div>
            </div>
        </section>
</header>