@{
    ViewData["Title"] = "User's Page"; //Should get a field to input user's decided temp name or 'New User'
}
 

@*Need Form with:
    - Temp Name Field
    - Save/Update Button
    - Avatar Creation
    - Setting Update (Pick light/dark mode)*@

<div class="container py-5 mx-auto">
    <div class="dark">
        <h1>User's Page</h1>
    </div>
    <div class="container mx-auto" style="width:400px;">
        @*Name Creation*@
        <div class="py-2">
            <label for="nameuser" class="form-label">Nickname:</label>
            <input id="nameuser" class="form-control" type="text" placeholder="Enter Name Here..." />
        </div>
        @*Avatar Creation*@
        <div class="container">
            <div class="" id="avatar-main">
                <div class="mx-auto" id="avatar-head">
                    <button id="headBtnLeft" class="btn btn-primary"></button>
                    <img src="~/Resources/Avatars/Head/Base/Hat1a.png" alt="Knight Helm" id="imgChangeHead"/>
                    <button id="headBtnRight" class="btn btn-primary"></button>
                </div>
                <div id="avatar-body" class="align-items-center">
                    <button id="bodyBtnLeft" class="btn btn-primary"></button>
                    <img src="~/Resources/Avatars/Body/Base/Body1a.png" alt="Knight Body" id="imgChangeBody" />
                    <button id="bodyBtnRight" class="btn btn-primary"></button>
                </div>
                <button id="resetAvatar" class="btn btn-outline-secondary py-1">Reset</button>
                <button id="confirmAvatar" class="btn btn-outline-primary py-1">Confirm</button>
            </div>
            <div class="container-fluid" id="avatar-show" hidden>
                <h3>Current Avatar:</h3>
                <div id="finished_avatar"></div>
            </div>
        </div>
        @*Setting Declaration*@
        <select class="form-select" aria-label="Personalization Setting">
            <option selected>Choose Display Theme</option>
            <option value="1">Light Mode</option>
            <option value="2">Dark Mode</option>
        </select>

        <button id="resetForm" class="btn btn-secondary py-2">Reset</button>
        <button id="confirmForm" class="btn btn-primary py-2">Save</button>
    </div>
</div>
