@{
    ViewData["Title"] = "Settings";
}

<header class="py-5">
</header>
<div class="col-8 container py-4 mb-5">
    <h2 class="display-4 text-center">This is the Settings Page</h2>
    <div class="container-fluid border border-dark rounded-top">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>
