@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h1 class=" justify-content-center text-center pt-4">Updates Page</h1>

<table class="justify-content-center text-center table table-striped">
    
    <thead>
        <tr> 
            <th scope="col">Updates</th>
            <th scope="col">Date:</th>
            <th scope="col">Author:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Update to Lobby. TestLobby Added. Update to site.css.
            </td>
            <td>May 14, 2022 at 5:46 AM</td>
            <td>Elizabeth Richardson</td>
        </tr>
        <tr>
            <td>Added a way to share video to everyone in lobby
            </td>
            <td>May 13, 2022 at 10:56 AM</td>
            <td>Zachary Dorschner</td>
        </tr>
        <tr>
            <td>Updates to Profile</td>
            <td>May 12, 2022 at 4:48 PM</td>
            <td>Elizabeth Richardson</td>
        </tr>
        <tr>
            <td>Create now automatically goes into new lobby</td>
            <td>May 11, 2022 at 1:53 PM</td>
            <td>Matthew Lauer</td>

        </tr>
        <tr>
            <td>Centered Create account page</td>
            <td>May 7, 2022 at 4:02 PM</td>
            <td>Jacob Krause</td>

        </tr>
        <tr>
            <td>LobbyVm Tests</td>
            <td>May 7, 2022 at 2:04 PM </td>
            <td>Matthew Lauer</td>

        </tr>
        <tr>
            <td>
                Updates to LobbyController, and User Create View. Added _Lobby and LobbyVm
            </td>
            <td>May 6, 2022 at 6:25 PM</td>
            <td>Elizabeth Richardson</td>

        </tr>
        <tr>
            <td>
                Changed pathing to go to lobby pages

            </td>
            <td>Apr 24, 2022 at 2:19 PM</td>
            <td>Elizabeth Richardson</td>

        </tr>
       
    </tbody>
</table>