<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Linknight.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!-- Hey is Liz, this is just for me to read looking at this stuff and planning:
            1. Use the Linknight.UI starter link to be the "Home" link. This should be in the middle based on wireframes
            2. Set up additional nav bar below current nav bar. (Lower Nav bar will be hidden until "Menu button hit")
            3. Set up 'Menu' button that will do a show/hide effect on nav bar 2. (utilize JQuery?)
            4. Nav bar 2 will have: Home (Just in case) -> About -> Contact -> Settings
            5. Nav bar 1 will have: Menu (button) -> Logo (clickable to Home) -> Search Bar -> Login (img link)
            -->
                <form class="form-inline my-2 my-lg-0">
                    <!-- Custom class .nav-reveal (When clicked will show-hide nav-menu2) -->
                    <button class="btn btn-outline-dark my-2 my-sm-0 nav-reveal" type="button">Menu</button>
                </form>
                <!--Will need to replace 'Linknight.UI' with logo img-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Linknight.UI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Type Here..." aria-label="Type Here..." />
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <!-- Menu button can now show and hide this. Will need to mess with either CSS/Bootstrap to have field appear in separate nav menu below original -->
            <div class="container nav-menu2">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Linknight.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
