@model Linknight.BL.Models.User

<style>
    .chat {
        overflow-y: auto;
        overflow-wrap: break-word;
        width: 16rem;
        height: 30rem;
    }
</style>

<div class="container-fluid my-5 pb-4">
    <div class="row justify-content-center h-100">
        <!-- LEFT SIDE -->
        <div class="col bg-light">
            <h2>Invite Your Friends:</h2>
            <p>Invite your friends by copying the link found in the URL, and sending it to them! It's a simple as that.</p>
            <h2>Link Your Videos:</h2>
            <p>To play a video, copy and paste the video's Youtube URL link into the chat.</p>
        </div>
        <!-- CENTER -->
        <div class="col-8 bg-light row-5">
            <iframe class="container-fluid row h-100" id="video" allow="autoplay" src="https://www.youtube.com/embed/u31qwQUeGuM?autoplay=1" allowfullscreen controls>
            </iframe>
        </div>

        <!-- RIGHT SIDE -->
        <div class="col bg-light">
            <div class="container">
                <ul id="discussion" class="chat"></ul>
                <input type="text" id="message" />
                <input type="hidden" id="displayname" class="chat" value="Test" />
                <input type="button" id="sendmessage" value="Send" />
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />