@model Linknight.BL.Models.Admin

@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*sidebar*@
<div class="flex-shrink-0 p-3 bg-dark text-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none text-light border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
        <span class="fs-5 fw-semibold">Linknight</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Home
            </button>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-light">
                    <li><a href="#" class="link-dark rounded text-light">Edit About us</a></li>
                    <li><a href="#" class="link-dark rounded text-light">Edit Contact</a></li>
                    <li><a href="#" class="link-dark rounded text-light">Edit Home</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Dashboard
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded text-light">Overview</a></li>
                    <li><a href="#" class="link-dark rounded text-light">Weekly</a></li>
                    <li><a href="#" class="link-dark rounded text-light">Monthly</a></li>
                    <li><a href="#" class="link-dark rounded text-light">Annually</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Orders
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded text-light">New</a></li>
                    <li><a href="#" class="link-dark rounded text-light">Processed</a></li>
                    <li><a href="#" class="link-dark rounded text-light">Shipped</a></li>
                    <li><a href="#" class="link-dark rounded text-light">Returned</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-light">
                    <li><a href="#" class="link-dark rounded text-light">New...</a></li>
                    <li><a href="~/Home/Profile" class="link-dark rounded text-light">Profile</a></li>
                    <li><a href="~/Home/Setting" class="link-dark rounded text-light">Settings</a></li>
                    <li><a href="~/Admin/Logout" class="link-dark rounded text-light">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<body>
    <main>
        <div class="align-content-around text-center">
            <p>This is the Admin page!!</p>
            
            @**<h1>This is where the name would go If I could figure it out.</h1>*@
        </div>
    </main>
</body>