
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="py-5">
    <div class="container justify-content-center pt-3">
        <div class="row my-4 justify-content-center">
            <h1>You are now logged out.</h1>
        </div>
    </div>
</section>