@model Linknight.BL.Models.Lobby

@{
    ViewData["Title"] = "Create";
}

<h4 class="container text-center">Create Lobby</h4>
<hr />
<div class="row container mx-auto">
    <div class="col-md-4 ">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Id" class="form-control" />
            <div class="form-group">
                <input asp-for="LobbyKey" class="form-control" />
                <span asp-validation-for="LobbyKey" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="py-5 col-md-4">
    <a asp-action="Index">Other Lobbies</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
