@model Linknight.UI.ViewModels.LobbyVm
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Linknight Room";
}

<div class="px-5 bg-dark filler">&nbsp;</div>

@{
    var username = @HttpContextAccessor.HttpContext.Session.GetString("username");
}
<partial name="_Lobby" model="Model.User" />

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script>
        $(function () {
            console.log('Start the Hub');

            var connection = new signalR.HubConnectionBuilder()
                .withUrl('https://linknightapi.azurewebsites.net/LinkHub')
                .build();

            console.log("After hub connection");

            var messageInput = document.getElementById('message');
            @{
                var username = Model.User.Username;
                string usernames = username;
                var lobby = Model.Lobby.Id;
                string lobbyid = lobby.ToString();
            }
            var name = "@usernames";


            // Create a function that the hub can call to broadcast messages.
            connection.on('receivemessage', function (name, message) {
                // Html encode display name and message.
                var encodedName = name;
                var encodedMsg = message;
                // Add the message to the page.

                var element = document.getElementById('discussion');
                element.scrollTop = element.scrollHeight;

                var liElement = document.createElement('li');
                liElement.innerHTML = '<strong>' + encodedName + '</strong>:&nbsp;&nbsp;' + encodedMsg;
                document.getElementById('discussion').appendChild(liElement);

                var url = encodedMsg.split("v=")[1].substring(0, 11);
                $('#video').attr('src', 'https://www.youtube.com/embed/' + url + "?autoplay=1");

            });

            connection.start()
                .then(function () {
                    console.log('connection started');
                    connection.invoke('JoinGroup', '@lobbyid');

                    var liElement = document.createElement('li');
                    liElement.innerHTML = '<strong>' + name + '</strong>:&nbsp;&nbsp;' + 'Connecting...';
                    document.getElementById('discussion').appendChild(liElement);

                    connection.invoke('sendmessagetogroup', "@lobbyid", name, "has joined!");

                    document.getElementById('sendmessage').addEventListener('click', function (event) {
                        // Call the Send method on the hub.
                        //connection.invoke('sendmessage', name, messageInput.value);
                        connection.invoke('sendmessagetogroup', "@lobbyid", name, messageInput.value);

                        var element = document.getElementById('discussion');
                        element.scrollTop = element.scrollHeight;

                        // Clear text box and reset focus for next comment.
                        messageInput.value = '';
                        messageInput.focus();
                        event.preventDefault();
                    });
                })
                .catch(error => {
                    console.error(error.message);
                });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        message.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("sendmessage").click();
            }
        });




    </script>
}
@*<div class="col-4 container my-2">
    <div class="container-fluid col-2 py-1"><a class="btn btn-outline-primary" href="#!" id="select">Select</a></div>
    <div id="textbox" class="container-fluid justify-content-center" style="display:none;">
        <input id="urlTextbox" class="form-control text-center" type="text" placeholder="Put Link Here..." />
        <button id="confirmUrl" class="btn btn-outline-primary py-1" value="Submit">Confirm</button>
    </div>
</div>*@


<script src="~/js/signalr/dist/browser/signalr.js"></script>